* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title h3 {
  font-size: 80px;
  font-weight: 600;
  background: linear-gradient(to right, #252fa0, #006efd);
  background-clip: text;
  color: transparent;
  display: inline;
  margin-bottom: 50px;
}
.portfolio-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  margin: 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #252fa0, #006efd);
}
.portfolio-box img {
  width: 300px;
  border-radius: 30px 30px 0 0;
  margin-bottom: 20px;
}
.portfolio-box h3 {
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.portfolio-box button {
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
}
